@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Style the track */
  input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 100%;
    height: 2px;
    background-color: white;
    cursor: pointer;
  }

  /* WebKit Track */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    background: white;
  }

  /* WebKit Thumb (custom vertical bar knob) */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 2px;
    background: white;
    cursor: pointer;
    margin-top: -6.5px; /* Align with the track */
    border-radius: 1px;
  }

  /* Firefox Thumb */
  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 2px;
    background: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
  }

  /* Firefox Track */
  input[type="range"]::-moz-range-track {
    height: 2px;
    background: white;
  }

  /* Hide arrows in Chrome, Safari, Edge */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Hide arrows in Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}
